*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #e0e8ff;
  background-position: top;
}

.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  margin-top: 7rem;
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
}

.header {
  width: 100%;
  overflow: hidden;
}
.header img {
  display: block;
  width: 100%;
}

.content {
  padding: 3.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.content__heading {
  color: #1f2f56;
  font-weight: 900;
  font-size: 2.4rem;
}
.content__text {
  color: #7280a7;
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-align: center;
  padding: 0 1rem;
}
.content__link {
  color: #7280a7;
  font-weight: 900;
  font-family: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.content__link:hover {
  color: #1f2f56;
}

.plan {
  width: 100%;
  padding: 1.5rem 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background-color: #f5f7ff;
}
.plan__link {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3829e0;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.plan__link:hover {
  color: #786cec;
  text-decoration: none;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2rem;
}
.info__heading {
  font-size: 1.3rem;
  color: #1f2f56;
  font-weight: 900;
}
.info__text {
  color: #7280a7;
  font-size: 1.3rem;
}

.btn {
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
}
.btn--primary {
  color: white;
  background-color: #3829e0;
  -webkit-box-shadow: 0px 25px 42px -19px #3829e0;
          box-shadow: 0px 25px 42px -19px #3829e0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.btn--primary:hover {
  background-color: #786cec;
}

@media screen and (min-width: 460px) {
  .card {
    width: 414px;
  }

  .content {
    padding: 4rem 4.5rem;
    gap: 2.5rem;
  }
  .content__heading {
    font-size: 2.7rem;
  }

  .plan {
    padding: 2.5rem 1.8rem;
  }

  .info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.2rem;
  }
  .info__heading {
    font-size: 1.5rem;
    color: #1f2f56;
    font-weight: 900;
  }
  .info__text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1400px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }
}/*# sourceMappingURL=style.css.map */