.main {
  width: 100%;
  max-height: 100vh;
  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 7rem;
  border-radius: 2rem;
  overflow: hidden;
}

.header {
  width: 100%;
  overflow: hidden;
  & img {
    display: block;
    width: 100%;
  }
}

.content {
  padding: 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__heading {
    color: $blue-dark;
    font-weight: 900;
    font-size: 2.4rem;
  }

  &__text {
    color: $blue-desaturated;
    font-size: 1.5rem;
    line-height: 2.3rem;
    text-align: center;
    padding: 0 1rem;
  }

  &__link {
    color: $blue-desaturated;
    font-weight: 900;
    font-family: inherit;
    font-size: 1.6rem;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
      color: $blue-dark;
    }
  }
}

.plan {
  width: 100%;
  padding: 1.5rem 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 1rem;
  background-color: $blue-very-pale;

  &__link {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    color: $blue-bright;
    transition: 0.5s ease-in-out;

    &:hover {
      color: #786cec;
      text-decoration: none;
    }
  }
}

.box-1 {
  display: flex;
  gap: 1.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  &__heading {
    font-size: 1.3rem;
    color: $blue-dark;
    font-weight: 900;
  }

  &__text {
    color: $blue-desaturated;
    font-size: 1.3rem;
  }
}

.btn {
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;

  font-weight: 700;
  font-family: inherit;
  font-size: 1.6rem;

  border: none;
  border-radius: 1rem;

  &--primary {
    color: white;
    background-color: $blue-bright;
    box-shadow: 0px 25px 42px -19px $blue-bright;
    transition: background-color 0.5s;

    &:hover {
      background-color: #786cec;
    }
  }
}

@media screen and (min-width: 460px) {
  .card {
    width: 414px;
  }
  .content {
    padding: 4rem 4.5rem;
    gap: 2.5rem;

    &__heading {
      font-size: 2.7rem;
    }
  }

  .plan {
    padding: 2.5rem 1.8rem;
  }

  .info {
    justify-content: space-between;
    gap: 0.2rem;
    &__heading {
      font-size: 1.5rem;
      color: $blue-dark;
      font-weight: 900;
    }

    &__text {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  .main {
    background-image: url(/images/pattern-background-desktop.svg);
  }
}
